@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&display=swap');

:root {
    --primary-color: #003559;
    --secondary-color: #B9D6F2;
    --accent1-color: #FDCA40;
    --accent2-color: #F79824;

    --heading-font: 'Madimi One', serif;
    --paragraph-font: "Ojuju", sans-serif; font-weight: 500; font-style: normal;

    --nav-background-color: #003559;
    --nav-link-color: #FDCA40;
    --nav-hover-link-color: #F79824;
    --nav-hover-background-color: #B9D6F2;
}

* {
    max-width: 1000px;
    align-self: center;
}


body {
    background-color: var(--primary-color);
    vertical-align: middle;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 16% 1fr;
    align-items: center;
    background-color: var(--primary-color);
}

nav {
    grid-column-start: 2;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

h2 {
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    max-width: 960px;
    padding: 20px;
}

figcaption {
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

footer nav {
    display: flex;
    justify-content: right;
}

footer nav a {
    padding: 5px;
}

footer a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: smaller;
}

th {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

td {
    font-family: var(--paragraph-font);
    color: var(--secondary-color)
}

table {
    width: 100%;
}

/* Class Items */

.bubble article h1 {
    background: rgba(0,53,89,0.5);
    position: relative;
}

.bubble a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: smaller;
    background-color: #003559;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.bubble {
    position: relative;
}

.bubble article, .bubble h1 {
    position: absolute;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.bubble p {
    color: var(--primary-color);
}

.bubble img {
    display: block;
    width: 100%;
    height: auto;
}

.bubble h1 {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    top: 10%;
}

.bubble article {
    background-color: var(--secondary-color);
    top: 30%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: .5rem;
}

.bubble article img {
    float: right;
    padding-top: 27px;
    padding-right: 10px;
    display: block;
    width: 200px;
    height: auto;
}   

.bubble form {
    color: var(--primary-color);
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    font-family: var(--paragraph-font)
    
}

.sociallinks a:link {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article, .hero h1 {
    position: absolute;
}

.hero p {
    color: var(--primary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    top: 10%;
}

.hero article {
    background-color: var(--secondary-color);
    top: 30%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: .5rem;
}

.hero article img {
    float: right;
    padding-top: 27px;
    padding-right: 10px;
    display: block;
    width: 200px;
    height: auto;
}   

.hero form {
    color: var(--primary-color);
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    font-family: var(--paragraph-font)
    
}

.adventure div {
    display: flex;
    justify-content: center;
}

.contact iframe {
    padding-right: 1rem;
    float: right;
}

.trips h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
}

.left article {
    background-color: var(--secondary-color);
    top: 30%;
    left: 0;
    right: 0;
    border-radius: .5rem;
    padding: 2rem;
    font-family: var(--paragraph-font);
}

.right article {
    background-color: var(--secondary-color);
    top: 30%;
    left: 0;
    right: 0;
    border-radius: .5rem;
    padding: 2rem;
    font-family: var(--paragraph-font);
}

.right img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 1rem;
    display: block;
    width: 200px;
    height: auto;
}   

.left img {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 1rem;
    display: block;
    width: 200px;
    height: auto;
}   
